/* ===== MAIN CONTAINER ===== */
.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f8f8f8;
}

/* ==== ABOUT / LEFT SIDE ==== */
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 8%;
  background: linear-gradient(135deg, #009739, #34d399);
  color: white;
  text-align: left;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

/* --- SVG --- */
.curvey {
  overflow: hidden;
  position: relative;
}

.curvey::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  background-position: 50% 0%;
  /* background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23f8f8f8"/></svg>'); */
}
/* SVG */

.textContainer {
  flex: 1 1 400px;
  max-width: 600px;
  z-index: 4;
}

.textContainer h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.textContainer h1 span {
  color: #d3c0ff;
  font-size: 2.7rem;
}
.filiere {
  color: gold;
}

.textContainer p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #f0f0f0;
}

/* IMAGE */
.imageContainer {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.illustration {
  width: 90%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  animation: float 3s ease-in-out infinite;
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(255, 255, 255, 0.25);
  transition: transform 0.5s;
}

.illustration:hover {
  transform: translateY(-10px) scale(1.05);
}

/* Partie droite */
.container,
.container2 {
  width: 80%;
  height: auto;
  min-height: 450px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0px 0px 15px rgba(0, 151, 57, 0.35);
  z-index: 2;
}

.container span,
.container2 span {
  color: #009739;
  font-size: 1.7rem;
}
.container> img,
.container2> img {
  width: 60%;
  height: auto;
  margin: 0 auto;
  animation: float2 3s ease-in-out infinite;
}
.container h1,
.container2 h1 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}
.container form,
.container2 form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 80%;
}
.container input,
.container2 input {
  padding: 10px;
  border: none;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}
.container input:focus,
.container2 input:focus {
  outline: none;
  box-shadow: 0px 0px 10px #009739;
}
.container button,
.container2 button {
  width: 100px;
  margin: 10px auto;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #009739;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* ANIMATION */
.container:hover,
.container2:hover {
  transform: translateY(-5px);
}

.container button:hover,
.container2 button:hover {
  transform: scale(1.1);
  background-color: #33b864;
}
a {
  color: #009739;
}

@media (min-width: 768px) {
  .mainContainer {
    height: 100vh;
    flex-direction: row;
    align-items: center;
  }
  .about {
    width: 50%;
    height: 100vh;
    flex-direction: column;
    padding: 60px 10% 60px 2%;
    border-radius: 0 10px 10px 0;
  }

  .imageContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .illustration {
    width: 80%;
    height: 80%;
  }
  .container,
  .container2 {
    justify-content: start;
    width: 25%;
    margin: auto;
  }
  .container h1 {
    font-size: 1.3rem;
  }
  /* SVG */
  .curvey::before {
    background-size: 100% 90px;
    background-position: 50% 0%;
  }
  /* SVG */
  .curvey::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 110px 100%;
    background-position: 100% 50%;
    /* transform: rotateX(180deg);  */
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" fill="%23f8f8f8"/></svg>');
  }
}

/* ANIMATION */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1);
  }
}
